html{
	background-color: lightGrey;
}
body{
	margin: 20%;
	margin-top: 5%;
	font-size: 30px;
}

input {
    width: 60%;
    margin: 8px 0;
    padding: 12px 20px;
    border-radius: 4px;
}

input[type=text], select {
    display: inline-block;
    border: 1px solid darkblue;

    box-sizing: border-box;
}
input:focus {
    background-color: lightgrey;
}
